In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Create the master dataframe.

In [2]:
csv_path = 'results.csv'
master_data = pd.read_csv(csv_path)
master_df = pd.DataFrame(master_data)
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 9 columns):
date          40839 non-null object
home_team     40839 non-null object
away_team     40839 non-null object
home_score    40839 non-null int64
away_score    40839 non-null int64
tournament    40839 non-null object
city          40839 non-null object
country       40839 non-null object
neutral       40839 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 1.6+ MB

Added empty columns below.

In [3]:
master_df['year']=''
master_df['month']=''
master_df['goal_diff']=''
master_df['home_result']=''
master_df['lat']=''
master_df['lng']=''
master_df['host_continent']=''
master_df['home_continent']=''
master_df['away_continent']=''
master_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month,goal_diff,home_result,lat,lng,host_continent,home_continent,away_continent
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,,,,,,,,,
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,,,,,,,,,
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,,,,,,,,,
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,,,,,,,,,
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,,,,,,,,,

In [4]:
corr_df = master_df
corr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 18 columns):
date              40839 non-null object
home_team         40839 non-null object
away_team         40839 non-null object
home_score        40839 non-null int64
away_score        40839 non-null int64
tournament        40839 non-null object
city              40839 non-null object
country           40839 non-null object
neutral           40839 non-null bool
year              40839 non-null object
month             40839 non-null object
goal_diff         40839 non-null object
home_result       40839 non-null object
lat               40839 non-null object
lng               40839 non-null object
host_continent    40839 non-null object
home_continent    40839 non-null object
away_continent    40839 non-null object
dtypes: bool(1), int64(2), object(15)
memory usage: 3.0+ MB

In [5]:
country_list = corr_df['home_team'].unique()

#eu = Europe, ncac = North,Central America & Carribean, sa = South America, af = Africa, as = Asia, oc = Oceania
eu_ctry_list = ['Scotland', 'England', 'Wales', 'Northern Ireland','Austria', 'Hungary','Belgium','France','Netherlands', 
                'Czechoslovakia', 'Switzerland', 'Sweden', 'Germany', 'Italy','Norway', 'Finland', 'Luxembourg', 'Russia', 
                'Denmark', 'Catalonia', 'Basque Country','Estonia','Spain','Brittany','Poland','Yugoslavia','Romania', 
                'Latvia','Galicia','Portugal','Andalusia','Lithuania','Turkey','Central Spain','Bulgaria','Belarus',
                'Republic of Ireland','Greece','Silesia','Israel','Slovakia','Croatia','Iceland', 'Albania','German DR',
               'Kernow', 'Saarland','Malta','Cyprus','Montenegro', 'Palestine','Faroe Islands','Northern Cyprus','Liechtenstein',
               'Greenland','Åland Islands','Ynys Môn','San Marino','Slovenia','Jersey', 'Shetland', 'Isle of Wight',
                'Moldova', 'Ukraine','Czech Republic','Guernsey','Gibraltar', 'Isle of Man','North Macedonia','Serbia',
               'Bosnia and Herzegovina','Andorra','Frøya', 'Hitra','Corsica','Gotland','Saare County', 'Rhodes','Orkney',
               'Monaco','Sark','Alderney','Western Isles','Kosovo','Republic of St. Pauli', 'Găgăuzia','Crimea','Occitania',
               'Sápmi','Provence','Menorca','Arameans Suryoye','Padania','Gozo','Raetia','Abkhazia','Madrid', 'Vatican City',
               'Ellan Vannin', 'South Ossetia','County of Nice','Székely Land', 'Romani people','Felvidék','Western Armenia',
               'Kárpátalja','Yorkshire','Parishes of Jersey','Chameria']
ncac_ctry_list = ['United States','Canada','Costa Rica','Guatemala','Mexico','Aruba','Haiti','Jamaica','Honduras','Guyana',
                 'El Salvador','Barbados','Trinidad and Tobago','Curaçao', 'Dominica','Guadeloupe','Suriname', 'French Guiana', 
                  'Cuba','Saint Kitts and Nevis', 'Panama','Nicaragua','Martinique','Puerto Rico','Saint Lucia','Grenada',
                 'Saint Vincent and the Grenadines', 'Bermuda','Antigua and Barbuda','Dominican Republic','Belize','Anguilla',
                 'Cayman Islands','Sint Maarten','Saint Martin','Montserrat','British Virgin Islands','U.S. Virgin Islands',
                 'Bahamas','Turks and Caicos Islands','St. Pierre & Miquelon','Cascadia','Curacao']
sa_ctry_list = ['Uruguay','Argentina','Chile','Brazil','Paraguay','Bolivia','Peru', 'Honduras','Colombia','Ecuador',
               'Venezuela','Falkland Islands','Bonaire']
af_ctry_list = ['Egypt','Kenya','Uganda','Zimbabwe','Madagascar', 'Zambia','Mauritius', 'Tanzania','Djibouti', 'DR Congo',
               'Ethiopia','Réunion', 'Sierra Leone','Zanzibar','Ghana', 'South Africa','Nigeria','Gambia','Guinea-Bissau',
               'Togo', 'Sudan','Malawi', 'Morocco', 'Benin', 'Cameroon','Central African Republic','Gabon','Ivory Coast',
                'Congo','Mali','Senegal','Libya','Tunisia','Guinea', 'Algeria','Liberia','Niger','Burkina Faso', 'Mauritania',
               'Eswatini','Somalia','Lesotho','Yemen DPR','Burundi', 'Yemen','Mozambique','Chad','Angola','Seychelles',
                'Rwanda','São Tomé and Príncipe','Botswana','Cape Verde','Equatorial Guinea','Namibia','Canary Islands',
               'Eritrea','Mayotte','Comoros','Western Sahara','Darfur','Somaliland','Barawa','Matabeleland','Kabylia',
               'Saint Helena']
as_ctry_list = ['Japan','China PR','Philippines','Manchukuo','Afghanistan', 'India','Iran','Vietnam','Macau','South Korea',
               'Burma','Sri Lanka','Hong Kong', 'Singapore','Malaysia', 'Indonesia','Cambodia', 'Lebanon', 'Pakistan',
                'Vietnam Republic','North Korea','North Vietnam','Mongolia','Chinese Taipei','Iraq','Thailand','Syria',
               'Kuwait','Jordan','Laos','Bahrain','Saudi Arabia','Qatar','Bangladesh','Oman','Kyrgyzstan', 'Georgia',
                'Azerbaijan','United Arab Emirates','Brunei','Nepal','Kazakhstan', 'Tajikistan', 'Uzbekistan','Turkmenistan',
               'Armenia','Maldives','Bhutan','East Timor','Tibet','Iraqi Kurdistan','Tamil Eelam','South Sudan','Artsakh',
               'Chagos Islands', 'United Koreans in Japan','Panjab','Timor-Leste','Myanmar']
oc_ctry_list = ['New Zealand','Australia','New Caledonia','Fiji','Tahiti','Vanuatu','Solomon Islands','Papua New Guinea',
               'Cook Islands','Guam','Kiribati','Tonga','Wallis Islands and Futuna','Niue','Samoa', 'American Samoa',
               'Palau','Micronesia','Tuvalu','Northern Mariana Islands']

len(country_list),len(eu_ctry_list),len(ncac_ctry_list),len(sa_ctry_list),len(af_ctry_list),len(as_ctry_list),len(oc_ctry_list)

(309, 109, 43, 13, 66, 59, 20)

In [6]:
host_ctry_list = corr_df['country'].unique()
len(host_ctry_list)

266

In [28]:
for index, row in corr_df.iterrows():
    if row['home_team'] in eu_ctry_list:
        corr_df.loc[index,'home_continent'] = 'Europe'
    elif row['home_team'] in ncac_ctry_list:
        corr_df.loc[index,'home_continent'] = 'NCAC'
    elif row['home_team'] in sa_ctry_list:
        corr_df.loc[index,'home_continent'] = 'South America'
    elif row['home_team'] in af_ctry_list:
        corr_df.loc[index,'home_continent'] = 'Africa'
    elif row['home_team'] in as_ctry_list:
        corr_df.loc[index,'home_continent'] = 'Asia'
    elif row['home_team'] in oc_ctry_list:
        corr_df.loc[index,'home_continent'] = 'Oceania'
    else:
        corr_df.loc[index,'home_continent'] = 'Others'
    
    if row['away_team'] in eu_ctry_list:
        corr_df.loc[index,'away_continent'] = 'Europe'
    elif row['away_team'] in ncac_ctry_list:
        corr_df.loc[index,'away_continent'] = 'NCAC'
    elif row['away_team'] in sa_ctry_list:
        corr_df.loc[index,'away_continent'] = 'South America'
    elif row['away_team'] in af_ctry_list:
        corr_df.loc[index,'away_continent'] = 'Africa'
    elif row['away_team'] in as_ctry_list:
        corr_df.loc[index,'away_continent'] = 'Asia'
    elif row['away_team'] in oc_ctry_list:
        corr_df.loc[index,'away_continent'] = 'Oceania'
    else:
        corr_df.loc[index,'away_continent'] = 'Others'
    
    if row['country'] in eu_ctry_list:
        corr_df.loc[index,'host_continent'] = 'Europe'
    elif row['country'] in ncac_ctry_list:
        corr_df.loc[index,'host_continent'] = 'NCAC'
    elif row['country'] in sa_ctry_list:
        corr_df.loc[index,'host_continent'] = 'South America'
    elif row['country'] in af_ctry_list:
        corr_df.loc[index,'host_continent'] = 'Africa'
    elif row['country'] in as_ctry_list:
        corr_df.loc[index,'host_continent'] = 'Asia'
    elif row['country'] in oc_ctry_list:
        corr_df.loc[index,'host_continent'] = 'Oceania'
    else:
        corr_df.loc[index,'host_continent'] = 'Others'

In [32]:
corr_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month,goal_diff,home_result,lat,lng,host_continent,home_continent,away_continent
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,,,,,,,Europe,Europe,Europe
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,,,,,,,Europe,Europe,Europe
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,,,,,,,Europe,Europe,Europe
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,,,,,,,Europe,Europe,Europe
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,,,,,,,Europe,Europe,Europe